/* Media qury for small screens ----- */
@media only screen and (min-width:0px) and (max-width:780px) {

    body,
    html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden !important;
    }

    .header-text .text h1 {
        font-size: 2rem;

    }

    .header-text .text h2 {
        font-size: 1rem;

    }

    #header {
        background-color: #fff;

        height: 100vh;
        width: 500px;
        /* padding: 5rem 0; */
        display: inline-block;
        padding: 0px;
        margin: 0px;


    }

    .header-text {
        display: flex;
        margin-top: 10%;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        flex-direction: column-reverse;

        /* background: #000; */


    }

    .header-text .photo {
        /* border: 1px solid black; */
        width: 40rem;
        margin: 0;

    }

    nav .fa-solid {
       
        font-size: 1.5rem;
        padding-bottom: 1rem;
        position: absolute;
        top: 10px;
        left: 360px;
    }
    #xmark{
        display: none;
        padding-top: 10px;
    }
    #menu{
        display: block;
    }
    i.menu {
        display: block;
        position: sticky;
        top: 25px;
        right: 341px;
    }

    .text {
        margin-left: 50%;
    }

    nav {
        width: 320px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    nav ul {
        justify-content: center;
        margin-right: 0rem;

    }

    .logo {
        width: 20rem;
        /* border: 1px solid; */
        margin-top: 5px;
    }

    nav .logo h1 {
        font-size: 2.5rem;
        margin-left: 4rem;
        text-align: c;
    }

    nav ul {
        background-color: blueviolet;
        position: fixed;
        top: -915px;
        right: 0px;
        width: 430px;
        height: 410px;
        margin-right: 0;
        margin-left: 0;
        padding-top: 60px;
        z-index: 1;
        /* text-align: center; */
        transition: top .5s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav ul li {
        /* margin-right: 3rem; */
        list-style-type: none;
        display: block;
        margin: 2rem;
        cursor: pointer;

    }

    nav ul li a:hover {
        color: #fff;
    }

    .header-text .photo img {

        width: 20rem;
        height: 20rem;
        margin-left: 0rem;
        margin-top: 8rem;
    }

    .text {
        margin-left: 4rem;
    }

    .header-text {
        margin-top: 5rem;
    }

    div.social {
        margin-top: 1rem;
        display: flex;
        /* margin-right: 10rem; */

    }

    /* ------aaaaaabout section----- */
    #about {
        height: 100vh;
        width: 400px;
        padding: 2rem 1rem;

    }

    #about .about {}

    .about .about-content {
        display: inline-block;
        width: 30rem;
        background-color: #E6E6FA;
        border-radius: 2rem;
    }

    .about .img {

        display: none;

    }

    .content {
        margin: 1rem 0rem;
        /* animation: slide-up 2s; */
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .content h1 {
        margin: 2rem 1rem;
        margin-bottom: 0;
        font-size: 2.5rem;
        color: rgb(16, 6, 109);
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .content h2 {
        margin: 0rem 1rem;
        font-size: 1.6rem;
        color: rgb(16, 6, 109);
    }

    .content p {
        color: rgb(14, 4, 4);

        font-size: 1.rem;
        padding: 1rem 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;


    }

    .content .contects {
        margin-left: 2rem;

    }

    .content .contects h3 {
        margin-top: 0.8rem;
    }

    .content .contects span {
        color: blueviolet;

    }

    .content .contects button {
        margin-top: 3rem;
        padding: 0.5rem 2.1rem;
        background-color: #5D3FD3;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        border-radius: 1rem;
        letter-spacing: 1px;
        font-size: 1.4rem;


    }

    .span {
        color: blueviolet;
    }

    .content .contects button i {
        font-size: 1rem;
    }


    /* Skills---section */
    #skills {
        height: 1300px;
        width: 100%;

        background-color: blueviolet;

    }



    .skills {
        height: 1100px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;



    }

    .skills .item {
        height: 150px;
        width: 150px;


    }

    .skills .item img {
        height: 170px;
        width: 170px;

        border-radius: 6.5rem;
        /* padding: 5rem 0; */
        /* object-fit: cover;
        object-position: center; */



    }

    /* ------project section------- */
    #project {
        height: 1300px;
        width: 100%;
        background-color: #E6E6FA;
        /* display: inline-block; */

    }

    .project {
        height: 1230px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* flex-wrap: wrap; */
    }

    .project .box {

        height: 150px;
        width: 150px;
        border-radius: 25px;
        text-align: center;

    }

    .project .box img {

        height: 150px;
        width: 150px;
        border-radius: 25px;
        text-align: center;

    }









    /* contact section */

    #contact {
        /* padding: 1rem 4rem; */
        height: 1445px;
        width: 130%;
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;




    }

    .contact {

        height: 1300px;
        width: 400px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;

        justify-content: center;



    }

    .contact .box1 {
        margin-right: 20rem;
        margin-bottom: 2rem;
        height: 25rem;
        width: 30rem;

    }


}




/* Media query for Tab And Ipaid */
